[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.65"
authors = ["Alloy Contributors"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/alloy-rs/next"
repository = "https://github.com/alloy-rs/next"
exclude = ["benches/", "tests/"]

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.dependencies]
alloy-json-rpc = { version = "0.1.0", path = "crates/json-rpc" }
alloy-networks = { version = "0.1.0", path = "crates/networks" }
alloy-pubsub = { version = "0.1.0", path = "crates/pubsub" }
alloy-rpc-client = { version = "0.1.0", path = "crates/rpc-client" }
alloy-rpc-types = { version = "0.1.0", path = "crates/rpc-types" }
alloy-signers = { version = "0.1.0", path = "crates/signers" }
alloy-transport = { version = "0.1.0", path = "crates/transport" }
alloy-transport-http = { version = "0.1.0", path = "crates/transport-http" }
alloy-transport-ws = { version = "0.1.0", path = "crates/transport-ws" }

alloy-primitives = { version = "0.4.2", features = ["serde"] }
alloy-rlp = "0.3"

async-trait = "0.1.74"
base64 = "0.21"
bimap = "0.6"
futures = "0.3.29"
hyper = "0.14.27"
itertools = "0.12"
pin-project = "1.1"
reqwest = "0.11.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.4"
thiserror = "1.0"
tokio = { version = "1.33", features = ["sync", "macros"] }
tower = { version = "0.4.13", features = ["util"] }
tracing = "0.1.40"
url = "2.4"
