[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.75"
authors = ["Alloy Contributors"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/alloy-rs/next"
repository = "https://github.com/alloy-rs/next"
exclude = ["benches/", "tests/"]

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.dependencies]
alloy-consensus = { version = "0.1.0", default-features = false, path = "crates/consensus" }
alloy-contract = { version = "0.1.0", default-features = false, path = "crates/contract" }
alloy-eips = { version = "0.1.0", default-features = false, path = "crates/eips" }
alloy-genesis = { version = "0.1.0", default-features = false, path = "crates/genesis" }
alloy-json-rpc = { version = "0.1.0", default-features = false, path = "crates/json-rpc" }
alloy-network = { version = "0.1.0", default-features = false, path = "crates/network" }
alloy-node-bindings = { version = "0.1.0", default-features = false, path = "crates/node-bindings" }
alloy-provider = { version = "0.1.0", default-features = false, path = "crates/provider" }
alloy-pubsub = { version = "0.1.0", default-features = false, path = "crates/pubsub" }
alloy-rpc-client = { version = "0.1.0", default-features = false, path = "crates/rpc-client" }
alloy-rpc-engine-types = { version = "0.1.0", default-features = false, path = "crates/rpc-engine-types" }
alloy-rpc-trace-types = { version = "0.1.0", default-features = false, path = "crates/rpc-trace-types" }
alloy-rpc-types = { version = "0.1.0", default-features = false, path = "crates/rpc-types" }
alloy-serde = { version = "0.1.0", default-features = false, path = "crates/serde" }
alloy-signer = { version = "0.1.0", default-features = false, path = "crates/signer" }
alloy-signer-aws = { version = "0.1.0", default-features = false, path = "crates/signer-aws" }
alloy-signer-gcp = { version = "0.1.0", default-features = false, path = "crates/signer-gcp" }
alloy-signer-ledger = { version = "0.1.0", default-features = false, path = "crates/signer-ledger" }
alloy-signer-trezor = { version = "0.1.0", default-features = false, path = "crates/signer-trezor" }
alloy-transport = { version = "0.1.0", default-features = false, path = "crates/transport" }
alloy-transport-http = { version = "0.1.0", default-features = false, path = "crates/transport-http" }
alloy-transport-ipc = { version = "0.1.0", default-features = false, path = "crates/transport-ipc" }
alloy-transport-ws = { version = "0.1.0", default-features = false, path = "crates/transport-ws" }

alloy-core = { version = "0.6.4", default-features = false, features = ["std"] }
alloy-dyn-abi = { version = "0.6.4", default-features = false, features = [
    "std",
] }
alloy-json-abi = { version = "0.6.4", default-features = false, features = [
    "std",
] }
alloy-primitives = { version = "0.6.4", default-features = false, features = [
    "std",
] }
alloy-sol-types = { version = "0.6.4", default-features = false, features = [
    "std",
] }

alloy-rlp = "0.3"

# ethereum
ethereum_ssz_derive = "0.5"
ethereum_ssz = "0.5"

# crypto
elliptic-curve = { version = "0.13", default-features = false, features = [
    "std",
] }
k256 = { version = "0.13", default-features = false, features = [
    "ecdsa",
    "std",
] }
sha2 = { version = "0.10", default-features = false, features = ["std"] }
spki = { version = "0.7", default-features = false, features = ["std"] }

# async
async-trait = "0.1"
futures = "0.3"
futures-util = "0.3"
futures-executor = "0.3"

hyper = "0.14"
tokio = "1"
tokio-util = "0.7"
tokio-stream = "0.1"
tower = { version = "0.4", features = ["util"] }

tracing = "0.1"
tracing-subscriber = "0.3"

# misc
auto_impl = "1.2"
base64 = "0.22"
bimap = "0.6"
home = "0.5"
itertools = "0.12"
once_cell = "1.19"
pin-project = "1.1"
rand = "0.8"
reqwest = { version = "0.11", default-features = false }
semver = "1.0"
thiserror = "1.0"
url = "2.5"

## serde
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

## misc-testing
arbitrary = "1.3"
assert_matches = "1.5"
proptest = "1.4"
proptest-derive = "0.4"
serial_test = "3.0"
similar-asserts = "1.5"
tempfile = "3.10"

# TODO: Keep around until alloy-contract is stable.
# This should only be used in `alloy-contract` tests.
[patch.crates-io]
alloy-sol-macro = { git = "https://github.com/alloy-rs/core", rev = "ab0cab1047a088be6cffa4e7a2fcde7cf77aa460" }
