[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.68"
authors = ["Alloy Contributors"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/alloy-rs/next"
repository = "https://github.com/alloy-rs/next"
exclude = ["benches/", "tests/"]

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.dependencies]
alloy-json-rpc = { version = "0.1.0", path = "crates/json-rpc" }
alloy-networks = { version = "0.1.0", path = "crates/networks" }
alloy-pubsub = { version = "0.1.0", path = "crates/pubsub" }
alloy-rpc-client = { version = "0.1.0", path = "crates/rpc-client" }
alloy-rpc-types = { version = "0.1.0", path = "crates/rpc-types" }
alloy-signer = { version = "0.1.0", path = "crates/signer" }
alloy-signer-aws = { version = "0.1.0", path = "crates/signer-aws" }
alloy-signer-ledger = { version = "0.1.0", path = "crates/signer-ledger" }
alloy-signer-trezor = { version = "0.1.0", path = "crates/signer-trezor" }
alloy-transport = { version = "0.1.0", path = "crates/transport" }
alloy-transport-http = { version = "0.1.0", path = "crates/transport-http" }
alloy-transport-ws = { version = "0.1.0", path = "crates/transport-ws" }

alloy-primitives = { version = "0.5.1", default-features = false, features = ["std"] }
alloy-sol-types = { version = "0.5.1", default-features = false, features = ["std"] }
alloy-rlp = "0.3"

# crypto
elliptic-curve = { version = "0.13.5", default-features = false, features = ["std"] }
generic-array = { version = "0.14.7", default-features = false, features = ["std"] }
k256 = { version = "0.13.2", default-features = false, features = ["ecdsa", "std"] }
sha2 = { version = "0.10.8", default-features = false, features = ["std"] }
spki = { version = "0.7.2", default-features = false, features = ["std"] }

# async
async-trait = "0.1.74"
futures = "0.3.29"
futures-util = "0.3.29"
futures-executor = "0.3.29"

hyper = "0.14.27"
tokio = "1.33"
tower = { version = "0.4.13", features = ["util"] }

tracing = "0.1.40"
tracing-subscriber = "0.3.18"

tempfile = "3.8"

assert_matches = "1.5"
base64 = "0.21"
bimap = "0.6"
itertools = "0.12"
pin-project = "1.1"
rand = "0.8.5"
reqwest = "0.11.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.4"
home = "0.5"
semver = "1.0"
serial_test = "2.0"
thiserror = "1.0"
url = "2.4"
