[package]
name = "alloy-eips"
description = "Ethereum Improvement Proprosal (EIP) implementations"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[dependencies]
alloy-primitives = { workspace = true, features = ["rlp"], default-features = false }
alloy-rlp = { workspace = true, features = ["derive"] }
derive_more = { workspace = true, optional = true }
c-kzg = { version = "1.0", features = ["serde"], optional = true }
once_cell.workspace = true

# serde
serde = { workspace = true, default-features = false, optional = true }

# arbitrary
arbitrary = { workspace = true, features = ["derive"], optional = true }
proptest = { workspace = true, optional = true }
proptest-derive = { workspace = true, optional = true }

[dev-dependencies]
arbitrary = { workspace = true, features = ["derive"] }
proptest = { workspace = true }
proptest-derive = { workspace = true }


[features]
default = ["std"]
std = ["alloy-primitives/std", "alloy-rlp/std", "serde/std"]
serde = ["dep:serde", "alloy-primitives/serde"]
arbitrary = [
    "std",
    "dep:arbitrary",
    "dep:proptest-derive",
    "dep:proptest",
    "alloy-primitives/arbitrary",
]
kzg = ["dep:derive_more", "dep:c-kzg"]
