[package]
name = "alloy-provider"
description = "Interface with an Ethereum blockchain"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[dependencies]
alloy-json-rpc.workspace = true
alloy-network.workspace = true
alloy-rpc-client = { workspace = true, features = ["reqwest"] }
alloy-rpc-trace-types.workspace = true
alloy-rpc-types.workspace = true
alloy-transport-http = { workspace = true, features = ["reqwest"] }
alloy-transport-ws = { workspace = true, optional = true }
alloy-transport-ipc = { workspace = true, optional = true }
alloy-transport.workspace = true
alloy-primitives.workspace = true

async-stream = "0.3"
async-trait.workspace = true
auto_impl.workspace = true
dashmap = "5.5"
futures.workspace = true
lru = "0.12"
reqwest.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["sync", "macros"] }
tracing.workspace = true

alloy-pubsub = { workspace = true, optional = true }
url = { workspace = true, optional = true }

[dev-dependencies]
alloy-consensus.workspace = true
alloy-node-bindings.workspace = true
alloy-rlp.workspace = true
alloy-signer.workspace = true
alloy-signer-wallet.workspace = true
tokio = { workspace = true, features = ["macros"] }
tracing-subscriber = { workspace = true, features = ["fmt"] }
tempfile.workspace = true

[features]
reqwest = ["dep:url"]
pubsub = ["alloy-rpc-client/pubsub", "dep:alloy-pubsub"]
ws = ["pubsub", "alloy-rpc-client/ws", "alloy-transport-ws"]
ipc = ["pubsub", "alloy-rpc-client/ipc", "alloy-transport-ipc"]
hyper = ["dep:url", "alloy-rpc-client/hyper"]
