[package]
name = "alloy-consensus"
description = "Ethereum consensus interface"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[dependencies]
alloy-network.workspace = true
alloy-primitives = { workspace = true, features = ["rlp"] }
alloy-rlp.workspace = true
alloy-eips.workspace = true
thiserror = { workspace = true, optional = true }
c-kzg = { version = "0.4.2", features = ["serde"], optional = true }
sha2 = { version = "0.10.7", optional = true }

# arbitrary
arbitrary = { workspace = true, features = ["derive"], optional = true }

[dev-dependencies]
# arbitrary
arbitrary = { workspace = true, features = ["derive"] }

[features]
default = ["kzg"]
k256 = ["alloy-primitives/k256", "alloy-network/k256"]
kzg = ["c-kzg", "sha2", "thiserror"]
arbitrary = ["dep:arbitrary", "alloy-eips/arbitrary"]
