[package]
name = "alloy"
description = "Connect applications to blockchains"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[dependencies]
alloy-core = { workspace = true, default-features = false, features = ["std"] }

alloy-consensus = { workspace = true, default-features = false, optional = true }
alloy-contract = { workspace = true, default-features = false, optional = true }
alloy-eips = { workspace = true, default-features = false, optional = true }
alloy-genesis = { workspace = true, default-features = false, optional = true }
alloy-network = { workspace = true, default-features = false, optional = true }
alloy-node-bindings = { workspace = true, default-features = false, optional = true }
alloy-provider = { workspace = true, default-features = false, optional = true }
alloy-pubsub = { workspace = true, default-features = false, optional = true }

# rpc
alloy-json-rpc = { workspace = true, default-features = false, optional = true }
alloy-rpc-client = { workspace = true, default-features = false, optional = true }
alloy-rpc-engine-types = { workspace = true, default-features = false, optional = true }
alloy-rpc-trace-types = { workspace = true, default-features = false, optional = true }
alloy-rpc-types = { workspace = true, default-features = false, optional = true }

# signer
alloy-signer = { workspace = true, default-features = false, optional = true }
alloy-signer-aws = { workspace = true, default-features = false, optional = true }
alloy-signer-gcp = { workspace = true, default-features = false, optional = true }
alloy-signer-ledger = { workspace = true, default-features = false, optional = true }
alloy-signer-trezor = { workspace = true, default-features = false, optional = true }

# transport
alloy-transport = { workspace = true, default-features = false, optional = true }
alloy-transport-http = { workspace = true, default-features = false, optional = true }
reqwest = { workspace = true, default-features = false, optional = true }
alloy-transport-ipc = { workspace = true, default-features = false, optional = true }
alloy-transport-ws = { workspace = true, default-features = false, optional = true }

[features]
default = ["transport-http-reqwest", "default-tls"]

# alloy-core
dyn-abi = ["alloy-core/dyn-abi"]
json-abi = ["alloy-core/json-abi"]
json = ["alloy-core/json"]
sol-types = ["alloy-core/sol-types"]

tiny-keccak = ["alloy-core/tiny-keccak"]
asm-keccak = ["alloy-core/asm-keccak"]

postgres = ["alloy-core/postgres"]
getrandom = ["alloy-core/getrandom"]
rand = ["alloy-core/rand"]
rlp = ["alloy-core/rlp"]
serde = ["alloy-core/serde", "alloy-eips?/serde"]
ssz = ["alloy-core/ssz", "alloy-rpc-types?/ssz", "alloy-rpc-engine-types?/ssz"]
arbitrary = [
    "alloy-core/arbitrary",
    "alloy-consensus?/arbitrary",
    "alloy-eips?/arbitrary",
    "alloy-rpc-types?/arbitrary",
]
k256 = ["alloy-core/k256", "alloy-consensus?/k256", "alloy-network?/k256"]
eip712 = [
    "alloy-core/eip712",
    "alloy-signer?/eip712",
    "alloy-signer-aws?/eip712",
    "alloy-signer-gcp?/eip712",
    "alloy-signer-ledger?/eip712",
    # TODO: https://github.com/alloy-rs/alloy/issues/201
    # "alloy-signer-trezor?/eip712",
]

# alloy
default-tls = ["reqwest?/default-tls"]
jsonrpsee-types = ["alloy-rpc-types?/jsonrpsee-types", "alloy-rpc-engine-types?/jsonrpsee-types"]

consensus = ["dep:alloy-consensus"]
eips = ["dep:alloy-eips"]
network = ["dep:alloy-network"]
genesis = ["dep:alloy-genesis"]
node-bindings = ["dep:alloy-node-bindings"]

contract = ["dep:alloy-contract", "dyn-abi", "json-abi", "json", "sol-types"]

## providers
providers = ["dep:alloy-provider"]
provider-http = ["providers", "transport-http"]
provider-ws = ["providers", "transport-ws"]
provider-ipc = ["providers", "transport-ipc"]

## pubsub
pubsub = ["dep:alloy-pubsub"]

## rpc
rpc = []
json-rpc = ["rpc", "dep:alloy-json-rpc"]
rpc-client = ["rpc", "dep:alloy-rpc-client"]
rpc-types = ["rpc"]
rpc-types-eth = ["rpc-types", "dep:alloy-rpc-types"]
rpc-types-engine = ["rpc-types", "dep:alloy-rpc-engine-types"]
rpc-types-trace = ["rpc-types", "dep:alloy-rpc-trace-types"]

## signers
signers = ["dep:alloy-signer"]
### Default signer extensions
signer-keystore = ["signers", "alloy-signer?/keystore"]
signer-mnemonic = ["signers", "alloy-signer?/mnemonic"]
signer-yubihsm = ["signers", "alloy-signer?/yubihsm"]
### Signer implementations
signer-aws = ["signers", "dep:alloy-signer-aws"]
signer-gcp = ["signers", "dep:alloy-signer-gcp"]
signer-ledger = ["signers", "dep:alloy-signer-ledger"]
signer-trezor = ["signers", "dep:alloy-signer-trezor"]

## transports
transports = ["dep:alloy-transport"]
transport-http = ["transports", "dep:alloy-transport-http"]
transport-http-reqwest = ["dep:reqwest", "alloy-transport-http?/reqwest"]
transport-http-hyper = ["alloy-transport-http?/hyper"]
transport-ipc = ["transports", "pubsub", "dep:alloy-transport-ipc"]
transport-ipc-mock = ["alloy-transport-ipc?/mock"]
transport-ws = ["transports", "pubsub", "dep:alloy-transport-ws"]
