[package]
name = "alloy-rpc-types-trace"
description = "Types for the `trace` Ethereum JSON-RPC namespace"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
alloy-primitives = { workspace = true, features = ["rlp", "serde"] }
alloy-rpc-types-eth.workspace = true
alloy-serde.workspace = true

serde.workspace = true
serde_json.workspace = true
serde_repr.workspace = true
thiserror.workspace = true

[dev-dependencies]
alloy-primitives = { workspace = true, features = [
    "rand",
    "rlp",
    "serde",
    "arbitrary",
] }

arbitrary = { workspace = true, features = ["derive"] }
rand.workspace = true
similar-asserts.workspace = true
